.btn-border {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: .5rem 4rem;
    display: inline-block;
    border-radius: 2rem;
    transition: all .2s;
    position: relative;
    cursor: pointer;
    border: 1px solid $btn-default-border;
  }

  &:hover {
    background-color: $btn-default-border;
    color: $hover-color-txt;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }

  &--primary {
    &,
    &:link,
    &:visited {
      color: $btn-primary-border;
      border-color: $btn-primary-border;
    }

    &:hover {
      background-color: $btn-primary-border;
      color: $hover-color-txt;
    }
  }

  & + & {
    margin-left: 5px;
  }
}
